{% load staticfiles %}
<footer>
   <div id="contact" class="container col-md-6">
        <h4>Contact us:</h4>
           <strong>ABC Pharmacy</strong><br>
           <strong>Address:</strong><span>New Baneshwor, Kathmandu</span><br>
           <strong>Contact no. :</strong><span>01-4123456</span>
    </div>
    <div id="footer-bottom" class="container col-md-6">
        <div id="footer-copyrights">
            <p>Copyrights &copy; 2018 All Rights Reserved by IIT Nepal</p>
        </div>
    </div>
</footer>
