<!--{% load staticfiles %}-->
<div class="navbar navbar-default container-fluid" id="topnav">
    <div class="navbar-header">
       <p><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x" style="margin-top: 10px;"></i></a></p>
     </div>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'pos' %}"><i class="fa fa-th" style="margin: 0px 10px 0px 10px;"></i>POS</a></li>
         <li><a href="#">User</a></li>
         <li><a href="#">Sign Out</a></li>
     </ul>

 </div>
