{% extends 'master/index.html' %}
{% load staticfiles %}
{% block title %} Purchase List {% endblock %}
{% block heading %} <p> Purchase-List </p> {% endblock %}
{% block content %}
<table class="table table-striped table-bordered table-hover" id="myData">
  <div class="addbutton">
    <a href="{% url 'addpurchase' %}" class="btn btn-primary btn-lg">ADD</a>
  </div>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Current Stock</th>
      <th>Purchase Date</th>
      <th>Supplier</th>
      <th>Quantity</th>
      <th>Tax rate</th>
      <th>Discount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for pur in purchase %}
    <tr>
      <td>{{pur.product_id}}</td>
      <td>{{pur.product_name}}</td>
      <td>{{pur.prodct_price}}</td>
      <td>{{pur.currrent_stock}}</td>
      <td>{{pur.purchase_date}}</td>
      <td>{{pur.supplier}}</td>
      <td>{{pur.quantity}}</td>
      <td>{{pur.tax_rate}}</td>
      <td>{{pur.discount}}</td>
      <td>
        <a href="{% url 'purchase_update' pur.id %}" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></a>
        <a href="{% url 'purchase_delete' pur.id %}" class="btn btn-warning btn-xs"><i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
