{% extends 'master/index.html' %}
{% load staticfiles %}
{% block title %} Supplier List {% endblock %}
{% block heading %} <p> Supplier-List </p> {% endblock %}
{% block content %}
<table class="table table-striped table-bordered table-hover" id="myData">
  <div class="addbutton">
    <a href="{% url 'addsupplier' %}" class="btn btn-primary btn-lg">ADD</a>
  </div>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for sup in supplier %}
    <tr>
      <td>{{sup.supplier_name}}</td>
      <td>{{sup.supplier_contact}}</td>
      <td>{{sup.supplier_address}}</td>
      <td>{% autoescape off %}{{sup.supplier_description}}{% endautoescape %}</td>
      <td>
        <a href="{% url 'supplier_update' sup.id %}" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></a>
        <a href="{% url 'supplier_delete' sup.id %}" class="btn btn-warning btn-xs"><i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
